<section class="sidebar">
    <div class="social social-container">
        <div class="social__item">
            <a href="https://www.linkedin.com/in/gonzalogauna/">
                <i class='bx bxl-linkedin bx-md social__icon'></i>
            </a>
        </div>
        <div class="social__item">
            <a href="https://github.com/GonzaloGauna">
                <i class='bx bxl-github bx-md social__icon'></i>
            </a>
        </div>
        <div class="social__item">
            <a href="https://twitter.com/gonzalogaunaDev">
                <i class='bx bxl-twitter bx-md social__icon'></i>
            </a>
        </div>
        <div class="social__item">
            <i class='bx bxl-gmail bx-md social__icon' ></i>
        </div>
    </div>
</section>