/* You can add global styles to this file, and also import other style files */
@import '../src/app/shared/variables';

html, body { 
    height: 100%; 
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    transition: all .5s ease;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*,*::before,*::after {
    box-sizing: inherit;
}
html::-webkit-scrollbar {
    width: 1rem;
}
html::-webkit-scrollbar-track {
    background-color: #dee2e6;
}
html::-webkit-scrollbar-thumb {
    background-color: #343a40;
}